/* MENU LATERAL */

.navigation {
    width: 100px;
    height: 100px;
    background-color: #0B78CE;
    border-radius: 0px 0px 10px 0px;
}

#menuToggle {
    display: block;
    position: relative;
    top: 40px;
    left: 30px;
    width: 90px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* Esconder esto */
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    height: 104vh;
    padding-top: 125px;
    background: #0B78CE;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

#menu li {
    width: 180px;
    text-align: center;
    margin-left: -13px;
    height: 10.6vh;
}

#menuToggle input:checked~ul {
    transform: none;
}

.boton-menu {
    height: 100%;
    border-bottom: 1px solid white;
    width: 80%;
    padding-top: 3vh;
}

.boton-menu-ayuda {
    height: 100%;
    width: 80%;
    padding-top: 3vh;
}

#menuToggle a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 13px;
}

#svg-menu {
    height: 20px;
}

.boton-menu p {
    padding-top: 10px;
}


/* MENU LATERAL */