body {
    font-family: 'Montserrat', sans-serif;
}

/* Formulario */

.caja-login {
    padding: 30px;
    box-shadow: 2px;
    border-radius: 15px;
    box-shadow: 5px 2px 12px #999;
}

.caja-login .col-6 div{
    margin-bottom: 0 !important;
}

.page-1 .botones {
    border-radius: 50px;
    padding-inline-end: 30px;
    padding-inline-start: 30px;
    height: 50px;
    padding: .375rem .75rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
  /* min-width: 200px; */
}

.page-1 .botones label {
    margin-bottom: 0;
    margin-left: 8px;
}

.page-1 .botones img {
    height: 25px;
    margin-right: 10px;
}

.page-1 .form-control {
    border-radius: 50px;
    border: 1px solid var(--primary);
    height: 50px;
}

@media screen and (max-width: 600px) {

}
