body {
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-weight: 600;
    font-size: 15px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
}

main {
    color: var(--primary);
}

.name-farmaco label{
    color: black !important;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}

.name-farmaco span {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary);
}

.page-4 .wrapper {
    max-height: 50vh;
    overflow-x: hidden;
    padding-right: 5px;
    overflow-x: scroll;
}

.page-4 .wrapper .table {
    color: var(--primary);
    box-shadow: 5px 2px 12px #CCCCCC;
}

.page-4 .wrapper .table thead {
    background: var(--primary);
    color: white;
    font-size: 9px;
}

.page-4 label {
    margin-bottom: 0;
}

.table td, .table th {
    padding: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #BEDEF3;

}

.table-hover tbody tr:hover {
    background-color: #3E9ACE;
    color: white
}

.table-hover tbody tr {
    color: var(--primary);
}

.page-4 .wrapper .table tbody {

    font-weight: 600;
    font-size: 12px;
}

.page-4 .wrapper::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.page-4 .wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--primary);
}

.caja-botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.page-4 .botones {
  border-radius: 50px;
  padding-inline-end: 30px;
  padding-inline-start: 30px;
  height: 50px;
  padding: .375rem .75rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
  /* width: 100%; */
}

.page-4 .boton {
    width: 200px;
}

.page-4 .stock-excedentes {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.page-4 .stock-excedentes .row div .columna-1{
    min-height: 140px;
    color: white;
    border: 1px solid var(--primary);
    padding: 15px;
    background-color: var(--primary);
    border-color: var(--primary);
}
.page-4 .stock-excedentes .row div .columna-2{
    background-color: white;
    min-height: 140px;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 15px;
}

.page-4 .stock-excedentes label {
    font-size: 11px;
    font-weight: 600;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
}

.page-4 .stock-excedentes .stock label {
    font-size: 11px;
    margin-right: 10px;
    text-align: center !important;
    font-weight: 700;
}

.page-4 .stock-excedentes .stock .tr {
    text-align: center;
    border: 1px solid white;
    padding: 0px 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .page-4 .stock-excedentes .local label {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
} */

.page-4 .stock-excedentes .local .tr {
    text-align: center;
    border: 2px solid white;
    padding: 0px 5px;
    padding-top: 5px;
    border-radius: 10px;
}

.page-4 .stock-excedentes .local label {
    font-size: 12px;
    font-weight: 700;
    margin-right: 0;
}

.page-4 .stock-excedentes .local span {
    font-size: 10px;
    font-weight: 700;
}

.page-4 .stock-excedentes .local a {
    display: flex;
    flex-direction: column;
    color: white;
}

.page-4 .stock-excedentes .local .tr:hover {
    background-color: white;
}

.page-4 .stock-excedentes .local a:hover {
    color: var(--primary);
    text-decoration: none;
}

.page-4 .stock-excedentes .local .local-numero {
    margin-bottom: 0px;
}

.page-4 .stock-excedentes .local .stock-resultado {
    margin-bottom: 5px;
}

.logo-isapre img {
    height: 30px;
    width: 30px;
}

.page-4 .botones img {
    height: 25px;
    margin-right: 8px;
}

.page-4 .disabled {
    background-color: #4BA2DD !important;
    pointer-events: none;
}

@media screen and (max-width: 600px) {

    .page-4 .stock-excedentes .row div .columna-1{
        min-height: 225px;
    }

    .page-4 .stock-excedentes .stock {
        margin-bottom: 10px;
    }
}